<h1>🤔 Frequently Asked Questions 🤔</h1>
<ul>
  <li>
    <b>Is there a free version?</b>
    <p>
      Yep! Our free version is so good that you'll wonder why anyone would ever
      need the paid one. Just kidding, the paid version has unicorns 🦄
    </p>
  </li>
  <li>
    <b>What are your support hours?</b>
    <p>
      Our support team is fueled by coffee ☕ and memes 😂, so they're available
      24/7. But beware, if you ask for help during a full moon, you might get a
      werewolf instead. 🐺
    </p>
  </li>
  <li>
    <b>How do I contact support?</b>
    <p>
      Summon them by shouting "Supporto Patronum!" into a mirror three times. Or
      just email us -
      <a href="mailto:support@lenslocked.com">support@lenslocked.com</a>
    </p>
  </li>
</ul>
