<h1>Welcome to my Nightmare!</h1>

{{template "lorem-ipsum"}}
{{template "lorem-ipsum"}}
{{template "lorem-ipsum"}}

{{ define "lorem-ipsum" }}

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ullam dicta veniam
  enim id impedit nihil iste repellendus et, saepe vel alias, labore numquam
  quidem ipsa deserunt unde possimus soluta suscipit. Odio eum sapiente qui
  repudiandae inventore iusto voluptate sed voluptates? Consequuntur dolor odit
  harum unde, ratione quas voluptates, dicta tempora commodi ipsam neque quis
  nemo blanditiis. Praesentium accusantium consequuntur nemo! Neque rem
  adipisci, ducimus maiores ullam at labore, delectus culpa cupiditate eaque
  nulla natus tempore recusandae magnam ea. Omnis, quisquam soluta. Omnis itaque
  consequuntur blanditiis vel aperiam natus rerum accusantium? Deleniti esse
  nesciunt, illum asperiores veniam autem, debitis aperiam, cumque vitae hic
  nostrum reiciendis temporibus ex dolor? Autem impedit vel id saepe. Cupiditate
  dignissimos cum, totam illum nisi earum nostrum! Rerum, labore cum? Quam ipsa
  voluptatum odio id animi quae sint atque iste dignissimos accusantium deserunt
  quas assumenda delectus eius repellendus, commodi voluptate, quo ipsam.
  Debitis, accusantium? Neque, cumque voluptate! Delectus hic temporibus officia
  rem eveniet ipsam maxime a itaque nam, excepturi aperiam distinctio cumque
  modi facere aliquam expedita tempore voluptas dolore cupiditate? Ipsum libero
  quasi ipsa modi iusto molestias. Ad, sit. Ratione ipsum veniam, magnam
  suscipit eveniet porro sit fuga tempore, accusamus deleniti consequuntur
  vero!ss Sequi neque tempore velit sed, magni iure repellendus corporis
  obcaecati facilis in dolorem odit! Sed, cumque at perspiciatis modi
  accusantium expedita iure rerum ducimus eius ad unde eveniet similique,
  corporis vitae repudiandae voluptatibus delectus excepturi cupiditate. Cum
  nesciunt ipsam alias aliquam eum officia accusamus! Blanditiis voluptatum
  minima at libero corporis, iste vero mollitia vel eaque illum itaque
  dignissimos tenetur modi sapiente natus praesentium facere nobis aspernatur
  omnis ipsum! Rerum quas harum dolore reiciendis eos! Iusto excepturi dolor
  sint aperiam, reiciendis ipsam consequuntur numquam vitae delectus quam
  impedit sit, repellat commodi incidunt quos asperiores quibusdam laudantium
  tenetur? Totam veritatis molestias fuga quod, a consectetur eveniet!
</p>

{{ end }}
